.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.heading {
  margin-bottom: 20px;
  color: #fff;
  font-size: 33px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.html-embed {
  position: static;
  height: 100%;
  color: #fff;
  font-size: 14px;
}

.grid {
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 27px;
  grid-row-gap: 20px;
  -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto;
  grid-template-areas: ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "Area Area Area-3 Area-3";
  -ms-grid-columns: 1fr 27px 1fr 27px 1fr 27px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 11px;
  background-color: #232c43;
  text-align: left;
}

.numpad-button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #e3dcd5;
  box-shadow: 0 4px 1px -1px #b5a698;
  opacity: 1;
  font-family: 'League Spartan', sans-serif;
  color: #444b5a;
  font-size: 32px;
  line-height: 0px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
}

.numpad-button.blue-btn {
  background-color: #637097;
  box-shadow: 0 4px 1px -1px #404e72;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
}

.numpad-button.equal {
  background-color: #d03f2f;
  box-shadow: 0 4px 1px -1px #93261a;
  color: #fff;
  font-size: 30px;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #232c43;
  color: #fff;
}

.paragraph.calc-window {
  overflow: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 40px 20px;
  border-radius: 11px;
  background-color: #182034;
  font-size: 32px;
}

.chunks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.chunks.header {
  margin-top: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px;
}

.body {
  background-color: #3a4764;
}

.text-block {
  margin-top: 25px;
  margin-left: -2px;
  font-family: 'League Spartan', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

.div-block-2 {
  margin-right: 12px;
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .numpad {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }

  .chunks {
    max-width: 100%;
  }

  .body {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .tabs-menu {
    display: inline;
    width: 100px;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .container {
    padding-right: 18px;
    padding-left: 18px;
  }

  .heading {
    width: 50%;
  }

  .section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .radio-button-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .html-embed {
    width: 64px;
    margin-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .numbers-display {
    padding-right: 20px;
    padding-left: 20px;
  }

  .numpad {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid {
    max-width: 100%;
    min-width: 300px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 11px;
    grid-row-gap: 11px;
    grid-template-areas: ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      "reset reset equal equal";
    -ms-grid-columns: 1fr 11px 1fr 11px 1fr 11px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 11px auto 11px auto 11px auto 11px auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .chunks {
    max-width: 100%;
  }

  .div-block-2 {
    margin-right: 0px;
  }
}

#w-node-_84b0c3ed-6db1-47a5-1ca8-79b8f781a130-919cd99c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_2b769736-c29b-5a97-b4ab-c854de6e2692-919cd99c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-da78b7d9-59ca-0249-b6e6-6df542b82b63-919cd99c {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-f35841a6-b973-b347-55d5-e409f9daa44c-919cd99c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-c96acbf5-e9ab-edb8-6ac2-dc24d9560822-919cd99c {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: Area-3;
}

@media screen and (max-width: 479px) {
  #w-node-_84b0c3ed-6db1-47a5-1ca8-79b8f781a130-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_2b769736-c29b-5a97-b4ab-c854de6e2692-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f1170a0f-3ec7-e1ab-644f-fef1748cfe99-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_93b153ab-8c03-28f2-723d-c304758d2c6d-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_0091abf1-3801-0384-d940-5c301c8cb3e5-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_1cd5cb2f-4029-a22d-29f9-2ed99c3bba80-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-da78b7d9-59ca-0249-b6e6-6df542b82b63-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bef257e7-4210-b38e-c74d-166ffdad219b-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d10587fa-41a7-ec75-a8de-11b645d79c33-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_5eb48622-30e4-5f22-feef-7bbfb7864588-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-bfe8f834-83b6-3c4d-5073-9cd706b5d980-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d39754c1-9828-7d95-7419-2b586573fe52-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6f0117f2-5a0f-cd12-3daf-4f25fcb4a7a4-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_20aabc82-afe0-b0ac-ffaf-b4da8b841f18-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-a3c0ac92-7741-5a0e-4ae4-8741215e8911-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f2426f0d-1342-0337-ba5b-b4c029ddd5da-919cd99c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f35841a6-b973-b347-55d5-e409f9daa44c-919cd99c {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-c96acbf5-e9ab-edb8-6ac2-dc24d9560822-919cd99c {
    grid-area: equal;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c96acbf5-e9ab-edb8-6ac2-dc24d9560822-919cd99c {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }
}

